@import "../../styles";

div.header 
	height: 300px;
	
	div.search-input
    padding-top: 88px;

div.result
  position: absolute;
  top: 220px;
  z-index: 5;
  width: 100%;
  
  div.city-card-container 
    margin: auto;
    
    div.city-card
      margin: auto;
      height: 170px;
      padding: 16px;
      border-radius: 4px;
      margin-top: 16px;
      background-color: white;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer;
      
      div.temperature
        text-align: center
        line-height: 130px;
        font-weight: bold;
        color: #696969;
        background-color: #f0f0f0;
        font-size: 48px;

      div.city-data
        padding-left: 40px;
        
        div.city-name
          color: #39a3db;
          font-size: 24px;
          font-weight: bold;
        
        div.temp
          margin-top: 16px;
          font-size: 14px;
          
          div.temp-title
            color: #9F9F9F;
            display: inline-block;
            padding: 0;


      div.condition
        padding-top: 24px;
        color: #3c3c3c;
        font-size: 14px;
        font-style: italic;
        text-align: center;
        

p.title 
	text-transform: uppercase;
	color: white


div.lower-background
  background-color: $lightGray;
  
