$lightBlue: #39A3DB;
$inputShadow: #555;
$lightGray: #F6F6F6;

div.header 
	background-color: $lightBlue;
	height: 300px;
	width: 100%;

	& div.search
		text-align: center;
		padding-top: 88px;
		
		p.title
			font-size: 20px;
			
		& input 
			width: 460px;
			height: 48px;
			box-shadow: 0px 1px 5px 0px $inputShadow;
			border: 0;
			border-radius: 4px;
	

p.title 
	text-transform: uppercase;
	color: white


div.search-result 
	background-color: $lightGray;

