<div class="container-fluid h-100 d-flex flex-column">
	<div class="row">
		<div class="header col">
			<div class="search">
				<p class="title">Weather in your city</p>
			  <input 
			    type="text" 
			    [(ngModel)]="searchText"
			    (keypress)="searchOnEnter($event)"
			    placeholder="Your city name" />
			</div>
		  
		  <div class="result">
		    <div class="city-card-container">
		    
		      <div class="city-card" *ngFor="let result of weatherResult">
		        <div class="temperature">
		          {{ result.main.temp }}°C
	          </div>
		        <div class="city-data">
		          <div class="city-name">
		            {{ result.name }}, {{ result.sys.country }}
		            <img src="http://openweathermap.org/images/flags/{{ result.sys.country.toLowerCase() }}.png">
		          </div>
		          <div class="temp">
		            <div>
		              <div class="temp-title">Máx</div>
		              <span class="max-temp">{{ result.main.temp_max }}</span>
		            </div>
		            <div>
		              <div class="temp-title">Min</div>
		              <span class="min-temp">{{ result.main.temp_min }}</span>
	              </div>
		          </div>
	          </div>
		        <div class="condition">
		          <div><img src="http://openweathermap.org/img/w/{{ result.weather[0].icon }}.png"></div>
		          <div>{{ result.weather[0].description }}</div>
	          </div>
		      </div>
		    
		    </div>
			</div>
		</div>
	</div>

	<div class="row flex-grow-1 lower-background">
	</div>

</div>

