div.header
  height: 120px;
  
  div.search-input	
		padding-top: 40px;


  div.back-button
    position: absolute;
    top: 0;
    left: 0
    display: inline-block;
    color: white;
    padding: 5px;

div.city-name
  text-align: center;
  padding: 32px;
  
  div.name
    font-size: 36px;
  
  div.datetime
    font-size: 14px;
    font-style: italic;
    color: #3c3c3c;
    opacity: 0.5;

div.main-weather
  display: flex;
  
  div.day-weather-data
    div 
      margin-bottom: 1px solid #aaa;

div.main-forecast
  background-color: white;
  border-radius: 4px;
  margin: auto;
  
  div.forecast 
    
    div.date
      div.day
      div.hour
    
    div.condition
      font-size: 14px;
      font-style: italic;
    

