/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

$lightGray: #F6F6F6;

*
	font-family: 'Roboto';

html, body
	height: 100%;
	background-color: $lightGray;
