/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto');

$lightGray: #F6F6F6;
$lightBlue: #39A3DB;
$placeholderColor: #888;

*
	font-family: 'Roboto';

html, body
	height: 100%;
	background-color: $lightGray;
	color: #3c3c3c;


div.header 	
  background-color: $lightBlue;
  


div.search-input
	text-align: center;
	
	p.title
		font-size: 20px;
		
	input 
		height: 48px;
		border: 0;
		box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 4px;
		padding-left: 16px;
		
		&::placeholder
			color: $placeholderColor;
			
div.main-container
  background-color: $lightGray;
  

.max-temp
  font-weight: bold;
  color: #b30000;

.min-temp
  font-weight: bold;
  color: #4a90e2;
  
div.temperature
  text-align: center
  
  font-weight: bold;
  color: #696969;
  background-color: #f0f0f0;
  font-size: 48px;
